@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --primary-color: #ff8b68;
  --secondary-color: #080b1b;
  --primary-bg: #f0efed;
  --secondary-bg: #1a2456;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Tajawal", sans-serif;
  background-color: var(--primary-bg);
}

h1,
h2,
h3 {
  font-weight: 600;
}

/* Utility classes */
.container {
  margin-inline: 1.5rem;
  max-width: 1024px;
  height: 100%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  /* to define the template or strcuture for grid cols */
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}

.leading {
  font-size: 1.2rem;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: var(--secondary-bg);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 16px;
}

/* Scrollbar */
/* only scrollbar of body, not other element's scrollbar */
body::-webkit-scrollbar {
  background-color: var(--secondary-color);
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  /* width: 100px; only width of the scrollbar only be applied */
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: pink;
}

/* Animations */
/* for logo */
@keyframes logo-float {
  0% {
    transform: translateY(0);
    color: pink;
  }

  50% {
    transform: translateY(2.5px);
    transform: rotate(15deg);
    color: #fff;
  }

  75% {
    transform: translateY(-2.5px);
    transform: rotate(-15deg);
    color: #fff;
  }

  100% {
    transform: translateY(0);
    transform: rotate(0);
    color: pink;
  }
}

/* Header */
.header {
  /* to center the navbar */
  justify-content: center;
}

.navbar {
  font-family: "Roboto", sans-serif;
  position: fixed;
  width: 98%;
  top: 6px;
  /* stretches the flex container -> leaves 10px on left & right */
  /* left: 10px;
  right: 10px; */
  background-color: var(--secondary-bg);
  color: pink;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  z-index: 1000;
}

.logo-container {
  align-items: center;
}

.logo-icon {
  font-size: 1.5rem;
  margin-right: 5px;
  animation-name: logo-float;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}

.logo-name {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.logo-container a {
  font-size: 0.9rem;
  font-weight: 300;
  color: pink;
  font-variant: small-caps;
  align-items: center;
}

.menu-container i {
  font-size: 1.3rem;
  margin-left: 20px;
  cursor: pointer;
}

/* Hero */
.hero {
  height: 70vh;
  background-image: linear-gradient(180deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.47)),
    url(./assets/main-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: pink;
  text-align: center;
}

.hero .flex {
  justify-content: center;
  align-items: center;
  /* to make the container div center -> by default it only present in left side */
  margin: auto;
}

.hero h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-variant: small-caps;
  margin-bottom: 10px;
}

.down-arrow {
  color: #fff;
  font-size: 2rem;
  position: relative;
  /* to choose maximum value between both to be responsive for both mobile and desktop */
  top: max(14vw, 130px);
  transition: transform 0.5s;
  cursor: pointer;
}

.down-arrow:hover {
  transform: scale(1.5);
}
/* Gallery-1 */
.gallery-1 {
  padding: 20px 0;
}

.card {
  grid-column: span 8;
  width: 100%;
  margin-bottom: 40px;
}

.card-img {
  position: relative;
}

.card-img .tag {
  position: absolute;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  right: 0;
  top: 16px;
  font-size: 0.8rem;
  padding: 8px;
  font-weight: 600;
}

.card-img img {
  width: 100%;
  /* to make more responsive height & to avoid flickering of website during hover */
  height: 60vw;
  object-fit: cover;
}

.card-content {
  position: relative;
}

.card-content h4 {
  font-size: 1.2rem;
  margin-top: 10px;
  /* display: inline-block; */
}

.card-content p {
  font-size: 1.1rem;
}

.card-content .btn {
  display: none;
  cursor: pointer;
  /* to make it little up from the para */
  top: -10px;
}
.card:hover .btn {
  display: initial;
}
/* Msg */
.msg {
  width: 100%;
  height: 350px;
  background-image: url(./assets/msg-1.webp);
  background-position: center;
  background-size: cover;
}

.msg .container {
  text-align: center;
  padding-top: 2rem;
  color: var(--secondary-bg);
}

.msg h2 {
  font-size: 2.4rem;
  letter-spacing: 3px;
  font-weight: 700;
}

/* Footer */
.footer {
  background-color: var(--secondary-bg);
  color: pink;
  font-size: 0.9rem;
  padding: 50px 8px 20px;
}

.footer a {
  color: pink;
}

.footer .grid {
  /* to leave space between footer details & copyrights */
  padding-bottom: 50px;
}

.footer .grid div {
  margin-bottom: 16px;
}

.footer .grid div:nth-child(1) {
  grid-column: 1 / span 4;
}

.footer .grid div:nth-child(2) {
  grid-column: 5 / span 4;
}

.footer .grid div:nth-child(3) {
  grid-column: 1 / span 4;
}

.footer .grid div:nth-child(4) {
  grid-column: 5 / span 4;
}

.footer h4 {
  font-weight: 600;
  margin-bottom: 14px;
}

.footer a {
  line-height: 1.8;
}

.footer a:hover {
  text-decoration-line: underline;
  color: rgb(220, 146, 158);
}
.copyright {
  text-align: center;
}

/* Breakpoints */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 95%;
    top: 14px;
  }

  /* both are same galleries */
  .gallery-1,
  .footer {
    padding-inline: 70px;
  }

  .footer .grid {
    justify-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
  .gallery-1 {
    padding-inline: 40px;
    padding-top: 80px;
  }
  /* display gallery in 2 cols */
  .card:nth-child(odd) {
    grid-column: 1 / span 4;
  }

  .card:nth-child(even) {
    grid-column: 5 / span 4;
  }

  /* to set the height properly */
  .card-img img {
    height: 30vw;
  }

  .msg {
    height: 450px;
  }

  /* selecting quick-links & info section */
  .footer .grid > div:nth-child(even) {
    grid-column: 6;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero {
    height: 90vh;
  }

  .footer .grid > div:nth-child(1) {
    grid-column: 1 / 3;
  }

  .footer .grid > div:nth-child(2) {
    grid-column: 3 / 5;
  }

  .footer .grid > div:nth-child(3) {
    grid-column: 5 / 7;
  }

  .footer .grid > div:nth-child(4) {
    grid-column: 7 / 9;
  }

  /* it won't expand after 1024px, as max size of container is 1024px
  so center the container */
  .container {
    margin-inline: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-img img {
    height: 20vw;
  }
}
